.ArticleLabel {
    margin-right: 1vw;
    font-size: 1em;
}

.HrefElement {
    cursor: pointer;
}

.Label {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    font-weight: bold;
}

.Loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}